body{
	background-color: #282a36 ;
	color: #f8f8f2;
}
h1 {
	font-family:"Zilla Slab";
	font-size: 70px;
	margin-bottom: -1px;
	overflow: visible;
}
* {
	max-width: 70%;
	font-family:"Roboto Mono";
	text-align: justify;
	text-justify: inter-word;
}
hr{
	border : #44475a 1px solid;
}
